$font-size-root: 14;

$color-white: #ffffff;
$color-blue: #592680;
$color-blue_light: #ecd4ff;
$color-yellow: #FFCD00;
$color-grey: #F1F1F1;
$color-grey_light: #747474;
$color-orange: #ff9933;
$color-violet: #ECD4FF;